* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
.container {
  background-color: black;
  height: 100vh;
}
.row {
  max-width: 90%;
  width: 500px;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.col-3 {
  width: 33%;
  background-color: blue;
  border: 1px solid red;
  padding: 10%;
}

.icon {
  text-align: center;
  font-size: 45px;
}

h2 {
  text-align: center;
  color: orangered;
  position: absolute;
  width: 100%;;
}

.reload {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}
.reload button {
  background-color: yellowgreen;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
}